<app-breadcrumb [title]="pageTitle"></app-breadcrumb>

<!--Project Details Section Start-->
<section class="project-details-section fix section-padding">
    <div class="container">
        <div class="project-details-wrapper style1">
            <div class="row g-4">
                <div class="col-12 col-lg-8">
                    <div class="project-details-items">
                        <div class="details-image">
                            <img src="assets/images/project/projectThumb3_7.png" alt="img">
                        </div>
                        <div class="details-content">
                            <h3 class="">Innovate Your Brand Online</h3>
                            <p class="mt-30">
                                A digital agency is a company that provides creative, strategic, and technical
                                development of
                                screen-based products and services. From website design to social media management,
                                digital
                                agencies help businesses thrive in the online realm
                            </p>
                            <div class="point-content mt-30">
                                <div class="row">
                                    <div class="col-6 ">
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>SEO Strategy Consulting</p>
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>Empowering Your Online Success</p>
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>Mobile App Development Services</p>
                                    </div>
                                    <div class="col-6">
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>Social Media Optimization</p>
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>Website Development & Maintenance</p>
                                        <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                                    alt="icon"></span>Connect Digitally, Grow Exponentially</p>
                                    </div>
                                </div>
                            </div>
                            <div class="second-img">
                                <img src="assets/images/project/projectThumb3_8.png" alt="img">
                            </div>
                            <p class="mt-30 ">
                                A digital agency is a company that provides creative, strategic, and technical
                                development of
                                screen-based products and services. From website design to social media
                            </p>
                            <h4 class="mt-30">Your Digital Partner in Growth</h4>
                            <p class="mt-30">
                                A digital agency is a company that provides creative, strategic, and technical
                                development of
                                screen-based products and services. From website design to social media
                            </p>
                        </div>
                    </div>

                    <!-- Preview section Start-->
                    <div class="preview-area ">
                        <button class="preview-item">
                            <i class="fa-regular fa-angle-left"></i>
                            Previous post
                        </button>
                        <button class="preview-item">
                            Next post
                            <i class="fa-regular fa-angle-right"></i>
                        </button>
                    </div>
                    <!-- Preview section End -->
                </div>
                <div class="col-12 col-lg-4">
                    <div class="project-details-sidebar">
                        <div class="single-sidebar-widget ">
                            <div class="wid-title">
                                <h3>Project Information</h3>
                            </div>
                            <div class="news-widget-categories">

                                <ul>
                                    <li>
                                        <span class="title">Category:</span>
                                        <span class="desc">Digital Agency</span>
                                    </li>
                                    <li>
                                        <span class="title">Customer:</span>
                                        <span class="desc">Fahad Hossain</span>
                                    </li>
                                    <li>
                                        <span class="title">Start date:</span>
                                        <span class="desc">21 August 2024</span>
                                    </li>
                                    <li>
                                        <span class="title">End date:</span>
                                        <span class="desc">28 September 2024</span>
                                    </li>
                                    <li>
                                        <span class="title">Rating:</span>
                                        <span class="desc ml-22">
                                            <i class="fa-regular fa-star" aria-hidden="true"></i>
                                            <i class="fa-regular fa-star" aria-hidden="true"></i>
                                            <i class="fa-regular fa-star" aria-hidden="true"></i>
                                            <i class="fa-regular fa-star" aria-hidden="true"></i>
                                            <i class="fa-regular fa-star" aria-hidden="true"></i>
                                        </span>
                                    </li>
                                    <li class="social-icon">
                                        <a href="#" aria-label="LinkedIn">
                                            <i class="fa-brands fa-linkedin-in" aria-hidden="true"></i>
                                        </a>
                                        <a href="https://www.facebook.com/" aria-label="Facebook">
                                            <i class="fab fa-facebook-f" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" aria-label="Instagram">
                                            <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" aria-label="Custom icon">
                                            <img src="assets/images/icon/x-icon1_2.svg" alt="Custom icon">
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="single-sidebar-image bg-cover"
                            style="background-image: url('assets/images/project/projectThumb3_9.png');">
                            <div class="contact-text">
                                <h4 class="mb-4">Ready To Work With Us</h4>
                                <div class="btn-wrapper">
                                    <a routerLink="/contact" class="ct-btn style4">Get A Quote<i
                                            class="fa-regular fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-download mt-40">
                            <div class="download-card">
                                <div class="download-item d-flex justify-content-between">
                                    <div>
                                        <strong class="text">Company File</strong>
                                    </div>
                                    <div class="icon">
                                        <span>(1.5Mb)</span>
                                        <img src="assets/images/icon/downloadIcon.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="download-item d-flex justify-content-between">
                                    <div>
                                        <strong class="text">Project File</strong>
                                    </div>
                                    <div class="icon">
                                        <span>(1.5Mb)</span>
                                        <img src="assets/images/icon/downloadIcon.svg" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Project Details Section End-->