CHESS_ELO_MONGODB_URI=mongodb://mongo:27017
CHESS_ELO_MONGODB_DATABASE=chess_elo
CHESS_ELO_MONGODB_APP_NAME=chess-elo-api
CHESS_ELO_CORS_ORIGINS=["http://localhost:4200","http://localhost:4201"]
CHESS_ELO_AWS_REGION=ap-southeast-2
CHESS_ELO_COGNITO_CLIENT_ID=
CHESS_ELO_COGNITO_USER_POOL_ID=
