<!-- Search Area Start -->
<div class="search-wrap">
    <div class="search-inner">
        <i class="fas fa-times search-close" id="search-close"></i>
        <div class="search-cell">
            <form method="get">
                <div class="search-field-holder">
                    <input type="search" class="main-search-input" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Hero Section Three Start-->
<section class="hero-section pt-60 fix bg-cover3">
    <div class="hero-container-wrapper style3 padding-bottom-535 pt-60">
        <div class="container">
            <div class="hero-wrapper style2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content-area">
                            <div class="content">
                                <h1 class="">Transforming Ideas into
                                    <span>Digital</span> Success
                                </h1>
                                <p class="">We help brands elevate their online
                                    presence with data-driven strategies and
                                    innovative design</p>
                            </div>
                            <div class="btn-wrapper">
                                <a routerLink="/projects" class="ct-btn style4">See Our Work<i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Hero Section Three End-->

<!-- video Section Start -->
<div class="video-section fix">
    <div class="video-box-area " style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
        <div class="video-wrap style1">
            <div class="container">
                <div class="video-box style1 fix background-image"
                    style="background-image: url(&quot;assets/images/video/videoThumb1_2.png&quot;);">
                    <a href="https://www.youtube.com/watch?v=f2Gzr8sAGB8" class="play-btn popup-video">
                        <img src="assets/images/video/videoIcon.svg" alt="icon">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video Section End -->

<!-- Counter Section Start -->
<div class="counter-section fix pt-104 pb-0">
    <div class="container">
        <div class="counter-box-wrapper style2">
            <div class="counter-box style2">
                <div class="icon">
                    <img src="assets/images/icon/counterIcon1_1.svg" alt="icon">
                </div>
                <h3>
                    <span>80</span> +
                </h3>
                <h6>Complete Project</h6>
            </div>
            <div class="counter-box style2">
                <div class="icon">
                    <img src="assets/images/icon/counterIcon1_2.svg" alt="icon">
                </div>
                <h3>
                    <span>98</span> %
                </h3>
                <h6>Clients Reviews</h6>
            </div>
            <div class="counter-box style2">
                <div class="icon">
                    <img src="assets/images/icon/counterIcon1_3.svg" alt="icon">
                </div>
                <h3>
                    <span>80</span>
                </h3>
                <h6>Team Member</h6>
            </div>
            <div class="counter-box style2">
                <div class="icon">
                    <img src="assets/images/icon/counterIcon1_4.svg" alt="icon">
                </div>
                <h3>
                    <span>10</span>
                </h3>
                <h6>Years of Experience</h6>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->

<!-- Project Section Start -->
<section class="project-section section-padding pb-0  fix">
    <div class="container">
        <div class="project-wrapper style2">
            <div class="row gy-5 gx-70">
                <div class="col-12 col-xxl-5 d-none d-xxl-block">
                    <div class="project-thumb">
                        <img src="assets/images/project/projectThumb3_1.png" alt="img">
                    </div>
                </div>
                <div class="col-12 col-xxl-7 d-flex align-items-center">
                    <div class="project-card style2 position-relative">
                        <div class="title-area mb-40">
                            <div class="sub-title "><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
                            <h2 class="single-section-title text-start text-white">Grow Smarter with Marketing Ever
                            </h2>
                        </div>
                        <div class="project-content">
                            <p class="">Financial planners help people to gain
                                knowledge aboutw toio invest and save their
                                money
                                in the most Fina planners help people to gain knowledge aboutw toio invest and save
                                their
                                money in the most Financial planners </p>
                            <div class="btn-wrapper">
                                <a href="#!" class="ct-btn style4">Read More<i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Section End -->

<!-- Service Section Start -->
<section class="service-section section-padding pb-0 fix">
    <div class="container">
        <div class="service-wrapper style2">
            <div class="title-area mb-60">
                <div class="sub-title text-center "><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
                <h2 class="single-section-title text-center text-white">Our
                    Services</h2>
            </div>
            <div class="row gy-4">
                <div class="col-lg-4">
                    <div class="service-card style3 mr-15 ">
                        <div class="service-content">
                            <h3 class="text-end">Digital Agency</h3>
                            <p class="text-end">Digital marketing involves promoting products services using digital
                            </p>
                        </div>
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_1.svg" alt="icon">
                        </div>
                    </div>
                    <div class="service-card style3 mr-15  ">
                        <div class="service-content">
                            <h3 class="text-end">Digital Marketing</h3>
                            <p class="text-end">Digital marketing involves promoting products services using digital
                            </p>
                        </div>
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_2.svg" alt="icon">
                        </div>
                    </div>
                    <div class="service-card style3 mr-15 ">
                        <div class="service-content">
                            <h3 class="text-end">Branding & Identity</h3>
                            <p class="text-end">Digital marketing involves promoting products services using digital
                            </p>
                        </div>
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_3.svg" alt="icon">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-card style3 pt-0 ">
                        <div class="service-thumb">
                            <img src="assets/images/service/serviceThumb3_1.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-card style3 ml-15 ">
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_4.svg" alt="icon">
                        </div>
                        <div class="service-content">
                            <h3>SEO Optimization</h3>
                            <p>Digital marketing involves promoting products services using digital</p>
                        </div>
                    </div>
                    <div class="service-card style3 ml-15  ">
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_5.svg" alt="icon">
                        </div>
                        <div class="service-content">
                            <h3>Content Creation</h3>
                            <p>Digital marketing involves promoting products services using digital</p>
                        </div>
                    </div>
                    <div class="service-card style3 ml-15 ">
                        <div class="service-icon">
                            <img src="assets/images/icon/serviceIcon3_6.svg" alt="icon">
                        </div>
                        <div class="service-content">
                            <h3>Marketing Automation</h3>
                            <p>Digital marketing involves promoting products services using digital</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Section End -->

<!-- Marque Section start -->
<app-marquee-style-two extraClass="section-padding pb-0 fix"></app-marquee-style-two>
<!-- Marque Section end -->

<!-- Project Section Start -->
<section class="project-section section-padding pb-0 fix">
    <div class="container">
        <div class="project-wrapper style1">
            <div class="title-wrap mb-35">
                <div class="section-title">
                    <div class="subtitle "><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
                    <h2 class="title">Our Best Portfolio</h2>
                </div>
                <div class="arrow-btn text-end">
                    <button data-slider-prev="#testimonialSlider1" class="slider-arrow style1"><i
                            class="fa-sharp fa-regular fa-arrow-left-long"></i></button>
                    <button data-slider-next="#testimonialSlider1" class="slider-arrow style1 slider-next"><i
                            class="fa-regular fa-arrow-right-long"></i></button>
                </div>
            </div>
            <div class="slider-area testimonial-slider1">
                <div class="swiper overflow-visible ct-slider" id="testimonialSlider1"
                    data-slider-options='{"loop": true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":1,"centeredSlides":true},"768":{"slidesPerView":2},"992":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="project-image">
                                <img src="assets/images/project/projectThumb3_3.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-image">
                                <img src="assets/images/project/projectThumb3_4.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-image">
                                <img src="assets/images/project/projectThumb3_5.png" alt="img">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project-image">
                                <img src="assets/images/project/projectThumb3_6.png" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Project Section End -->

<!-- Team Section Start -->
<app-team-section extraClass="pb-0"></app-team-section>
<!-- Team Section End -->

<!-- Testimonial Section Start -->
<section class="testimonial-section fix section-padding pb-0">
    <div class="container">
        <div class="title-area mb-65">
            <div class="sub-title text-center "><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
            <h2 class="single-section-title text-center text-white">Clients
                Testimonial</h2>
        </div>
        <div class="testimonial-wrapper style2">
            <div class="slider-area testimonial-slider1">
                <div class="swiper overflow-visible ct-slider"
                    data-slider-options='{"loop": true,"breakpoints":{"0":{"slidesPerView":1},"576":{"slidesPerView":1,"centeredSlides":true},"768":{"slidesPerView":1},"992":{"slidesPerView":2},"1200":{"slidesPerView":3}}}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-card style2">
                                <div class="testimonial-header">
                                    <div class="profile-wrapper">
                                        <div class="quet-icon">
                                            <i class="fa-regular fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="star-wrapper">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Working with this team was a game-changer. Our traffic and engagement
                                        increased by
                                        200%!</p>
                                </div>
                                <div class="profile-box">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/testiThumb3_1.png" alt="thumb">
                                    </div>
                                    <div class="testi-content">
                                        <h3 class="title">Cody Fisher</h3>
                                        <div class="designation">Web Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card style2">
                                <div class="testimonial-header">
                                    <div class="profile-wrapper">
                                        <div class="quet-icon">
                                            <i class="fa-regular fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="star-wrapper">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Professional, responsive, and creative—the perfect partners for our digital
                                        journey
                                    </p>
                                </div>
                                <div class="profile-box">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/testiThumb3_2.png" alt="thumb">
                                    </div>
                                    <div class="testi-content">
                                        <h3 class="title">Brooklyn Simmons</h3>
                                        <div class="designation">Dog Trainer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card style2">
                                <div class="testimonial-header">
                                    <div class="profile-wrapper">
                                        <div class="quet-icon">
                                            <i class="fa-regular fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="star-wrapper">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Their insights and expertise helped us connect with our audience like never
                                        before
                                    </p>
                                </div>
                                <div class="profile-box">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/testiThumb3_3.png" alt="thumb">
                                    </div>
                                    <div class="testi-content">
                                        <h3 class="title">Dianne Russell</h3>
                                        <div class="designation">Medical Assistant</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card style2">
                                <div class="testimonial-header">
                                    <div class="profile-wrapper">
                                        <div class="quet-icon">
                                            <i class="fa-regular fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="star-wrapper">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Working with this team was a game-changer. Our traffic and engagement
                                        increased by
                                        200%!</p>
                                </div>
                                <div class="profile-box">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/testiThumb3_1.png" alt="thumb">
                                    </div>
                                    <div class="testi-content">
                                        <h3 class="title">Cody Fisher</h3>
                                        <div class="designation">Web Designer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="testimonial-card style2">
                                <div class="testimonial-header">
                                    <div class="profile-wrapper">
                                        <div class="quet-icon">
                                            <i class="fa-regular fa-quote-right"></i>
                                        </div>
                                    </div>
                                    <div class="star-wrapper">
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                        <i class="fa-regular fa-star"></i>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>Professional, responsive, and creative—the perfect partners for our digital
                                        journey
                                    </p>
                                </div>
                                <div class="profile-box">
                                    <div class="testi-thumb">
                                        <img src="assets/images/testimonial/testiThumb3_2.png" alt="thumb">
                                    </div>
                                    <div class="testi-content">
                                        <h3 class="title">Brooklyn Simmons</h3>
                                        <div class="designation">Dog Trainer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->

<!-- Contact Form Section Start -->
<section class="contact-form-section section-padding pb-0 fix">
    <div class="container">
        <div class="contact-wrapper style3">
            <div class="row g-4">
                <div class="col-lg-6">
                    <div class="features-content mb-30">
                        <div class="title-area">
                            <div class="sub-title "><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
                            <h2 class="single-section-title text-start text-white">Do You Have Any Question Please?
                            </h2>
                        </div>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="ct-accordion-item style1 mb-20">
                            <h2 class="ct-accordion-header style1">
                                <button class="ct-accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>What is the importance of SEO in digital marketing?</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="ct-accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout</p>
                                </div>
                            </div>
                        </div>

                        <div class="ct-accordion-item style1 mb-20">
                            <h2 class="ct-accordion-header style1">
                                <button class="ct-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>How can I start digital marketing for my business?</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="ct-accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout</p>
                                </div>
                            </div>
                        </div>

                        <div class="ct-accordion-item style1">
                            <h2 class="ct-accordion-header style1">
                                <button class="ct-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Is social media marketing part of digital marketinct</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="ct-accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form style3">
                        <div class="section-title title-area pb-10">
                            <div class="subtitle">
                                <span>Get A qUOTE</span>
                            </div>
                            <h3 class="title">Unleashing Digital</h3>
                        </div>
                        <div class="input-field">
                            <form action="#" id="contact-form" method="POST">
                                <div class="row g-4">
                                    <div class="col-lg-6">
                                        <div class="form-clt">
                                            <input type="text" name="name" id="name" placeholder="First Name...">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-clt">
                                            <input type="number" name="phone" id="phone" placeholder="Your Phone...">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-clt">
                                            <input type="number" name="phone" id="phonenumber"
                                                placeholder="Phone Number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-clt">
                                            <select class="form-select" aria-label="Default select example">
                                                <option selected="">Choose a Option</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-clt">
                                            <textarea name="message" id="message"
                                                placeholder="Your E-mail..."></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit" class="ct-btn style8">sENT nOW<i
                                                class="fa-solid fa-arrow-right-long"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form Section End -->

<!-- Blog Section Start  -->
<section class="blog-section section-padding fix">
    <div class="blog-wrapper style1">
        <div class="container">
            <div class="title-wrap mb-55">
                <div class="title-area">
                    <h2 class="single-section-title text-start ">News & Blogs</h2>
                </div>
                <div class="btn-wrapper text-end">
                    <a routerLink="/blog" class="ct-btn style7">View All Post<i
                            class="fa-regular fa-arrow-right-long"></i></a>
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-md-6 col-lg-4 ">
                    <div class="blog-card style4">
                        <div class="blog-card-thumb">
                            <img src="assets/images/blog/blogThumb2_1.png" alt="img">
                        </div>
                        <div class="blog-card-body">
                            <ul>
                                <li>
                                    <a href="#">By admin</a>
                                </li>
                                <li class="verticalLine"></li>
                                <li>
                                    30, April 2024
                                </li>
                            </ul>
                            <h3>
                                <a routerLink="/blog-details">Enhance Online Presence Drive Digital Success </a>
                            </h3>
                            <div class="btn-wrapper">
                                <a routerLink="/blog-details" class="ct-btn style10">Read More<i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-card style4">
                        <div class="blog-card-thumb">
                            <img src="assets/images/blog/blogThumb2_2.png" alt="img">
                        </div>
                        <div class="blog-card-body">
                            <ul>
                                <li>
                                    <a href="#">By admin</a>
                                </li>
                                <li class="verticalLine"></li>
                                <li>
                                    30, April 2024
                                </li>
                            </ul>
                            <h3>
                                <a routerLink="/blog-details">Grow Your Business Digitally Reach New Customers</a>
                            </h3>
                            <div class="btn-wrapper">
                                <a routerLink="/blog-details" class="ct-btn style10">Read More<i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-card style4">
                        <div class="blog-card-thumb">
                            <img src="assets/images/blog/blogThumb2_3.png" alt="img">
                        </div>
                        <div class="blog-card-body">
                            <ul>
                                <li>
                                    <a href="#">By admin</a>
                                </li>
                                <li class="verticalLine"></li>
                                <li>
                                    30, April 2024
                                </li>
                            </ul>
                            <h3>
                                <a routerLink="/blog-details">Boost Your Brand Onli Reach Your Audience Digitally</a>
                            </h3>
                            <div class="btn-wrapper">
                                <a routerLink="/blog-details" class="ct-btn style10">Read More<i
                                        class="fa-regular fa-arrow-right-long"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->