<section class="chooseUs-section fix bg-theme-color">
    <div class="container">
        <div class="chooseUs-wrapper style1">
            <div class="row gy-5 gx-70">
                <div class="col-xl-6">
                    <div class="chooseUs-content section-padding pb-0">
                        <div class="section-title mb-30 mxw-560">
                            <div class="subtitle">
                                <span>Why Chose Us</span>
                            </div>
                            <h2 class="title">Grow Smarter with Marketing
                                <span>Ever</span>
                            </h2>
                            <p class="">Digital marketing involves promoting
                                products or services using digital technologies
                                Digital marketing involves promoting products </p>
                        </div>
                        <div class="fancy-box-wrapper style2">
                            <div class="fancy-box">
                                <div class="item">
                                    <div class="icon"><img src="assets/images/icon/aboutUsIcon2_1.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="item style1">
                                    <h4>Drive Engagement Digitally</h4>
                                </div>
                            </div>
                            <div class="strok-number">
                                <span>01</span>
                            </div>
                        </div>
                        <div class="fancy-box-wrapper style2">
                            <div class="fancy-box">
                                <div class="item">
                                    <div class="icon"><img src="assets/images/icon/aboutUsIcon2_2.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="item style1">
                                    <h4>Empower Your Digital Presence</h4>
                                </div>
                            </div>
                            <div class="strok-number">
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="chooseUs-thumb">
                        <img src="assets/images/about/aboutThumb2_1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>