<app-breadcrumb [title]="pageTitle"></app-breadcrumb>

<!-- contact Section Start -->
<section class="contact fix section-padding">
    <div class="container">
        <div class="contact-wrapper style1">
            <div class="row g-4 align-items-center">
                <div class="col-lg-6">
                    <div class="section-title title-area  mx-auto mb-10">
                        <div>
                            <span>Get In Touch</span>
                        </div>
                        <h2 class="title mb-20">Connect Digitally Grow The
                            Exponentially
                        </h2>
                        <h5 class="section-desc mb-40">A digital agency is a
                            company
                            that provides creative, strategic,
                            and technical development of screen-based</h5>
                    </div>
                    <div class="contact-form style1">
                        <h3>Get An Appointment</h3>
                        <form class="app-form">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Your Number">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                    <select class="form-select mt-30" aria-label="Default select example">
                                        <option selected>Choose a Option</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Message here..">
                                    </div>
                                </div>
                                <div class="contact-meta">
                                    <div class="btn-wrapper">
                                        <a routerLink="/contact" class="ct-btn style4">Sent nOW<i
                                                class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-section">
                        <div class="map-items">
                            <div class="googlemap">
                                <p>
                                    <iframe style="width: 100%;border-radius: 20px;"
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6678.7619084840835!2d144.9618311901502!3d-37.81450084255415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b4758afc1d%3A0x3119cc820fdfc62e!2sEnvato!5e0!3m2!1sen!2sbd!4v1641984054261!5m2!1sen!2sbd"
                                        height="351" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade">
                                    </iframe>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row px-lg-70">
                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                            <div class="author-meta">
                                <div class="fancy-box style4">
                                    <div class="item"><i class="fa-regular fa-envelope"></i></div>
                                    <div class="item">
                                        <h6>Email</h6>
                                        <p><a href="mailto:abcd@gmail.com">abcd@gmail.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                            <div class="author-meta">
                                <div class="fancy-box style4">
                                    <div class="item"><i class="fa-regular fa-phone"></i></div>
                                    <div class="item">
                                        <h6>Phone Number</h6>
                                        <p><a href="tel:01746865451">01746865451</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="author-meta">
                                <div class="fancy-box style4">
                                    <div class="item"><i class="fa-regular fa-location-dot"></i></div>
                                    <div class="item">
                                        <h6>Address</h6>
                                        <p><a href="https://www.google.com/maps/place/66+Broklyant+India+3269+Road,+New+Eskaton,+NY+10007,+USA/@40.7127793,-74.0108437,17z/data=!3m2!4b1!5s0x8edd4d269678e1d9:0x3fbdf65719baddb9!4m6!3m5!1s0x89c25a220cfc254b:0x7e629730ad7807f7!8m2!3d40.7127753!4d-74.0059728!16s%2Fg%2F11w1hkwpy9?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                                                target="_blank">66 Broklyant,India</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team Section End -->