<section class="project-section fix section-padding pb-0">
    <div class="container">
        <div class="project-wrapper style1">
            <div class="title-area mb-60">
                <h2 class="single-section-title text-center text-white">Enhance
                    Your Online Presence</h2>
            </div>
            <div class="project-card style1">
                <ul class="d-flex flex-column flex-lg-row align-items-lg-center align-items-start gap-4">
                    <li class="content">
                        <h3 class="title">Grow Your Business Digitally</h3>
                        <p class="subtitle">Social Pulse</p>
                    </li>
                    <li class="paragraph">
                        <p class="description">Digital Marketing involves promoting products or services using
                            online platforms</p>
                    </li>
                    <li class="image">
                        <img src="assets/images/project/projectThumb2_7.png" alt="img">
                    </li>
                    <li class="read-more">
                        <a href="#!">READ MORE
                            <i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>
                <ul class="d-flex flex-column flex-lg-row align-items-lg-center align-items-start gap-4">
                    <li class="content">
                        <h3 class="title">Connect Digital Customers</h3>
                        <p class="subtitle">Search Stream</p>
                    </li>
                    <li class="paragraph">
                        <p class="description">Digital Marketing involves promoting products or services using
                            online platforms</p>
                    </li>
                    <li class="image">
                        <img src="assets/images/project/projectThumb2_8.png" alt="img">
                    </li>
                    <li class="read-more">
                        <a href="#!">READ MORE
                            <i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>
                <ul class="d-flex flex-column flex-lg-row align-items-lg-center align-items-start gap-4">
                    <li class="content">
                        <h3 class="title">Dominate Online Marketing</h3>
                        <p class="subtitle">Brand Blast</p>
                    </li>
                    <li class="paragraph">
                        <p class="description">Digital Marketing involves promoting products or services using
                            online platforms</p>
                    </li>
                    <li class="image">
                        <img src="assets/images/project/projectThumb2_9.png" alt="img">
                    </li>
                    <li class="read-more">
                        <a href="#!">READ MORE
                            <i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>
                <ul class="d-flex flex-column flex-lg-row align-items-lg-center align-items-start gap-4">
                    <li class="content">
                        <h3 class="title">Transform Online Strategy</h3>
                        <p class="subtitle">Digital Boost</p>
                    </li>
                    <li class="paragraph">
                        <p class="description">Digital Marketing involves promoting products or services using
                            online platforms</p>
                    </li>
                    <li class="image">
                        <img src="assets/images/project/projectThumb2_10.png" alt="img">
                    </li>
                    <li class="read-more">
                        <a href="#!">READ MORE
                            <i class="fa-solid fa-arrow-right ms-2"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>