<app-breadcrumb [title]="pageTitle"></app-breadcrumb>

<!-- About Us Section Start -->
<section class="about-section section-padding fix">
    <div class="container">
        <div class="about-wrapper style1">
            <div class="title-area mb-55">
                <div class="sub-title text-center"><img src="assets/images/icon/parallelIcon.svg" alt="icon"></div>
                <h2 class="single-section-title text-center text-white">Illuminate
                    Your Online Potential Elevate
                    <span class="digital-text">Digital Game</span>
                </h2>
            </div>
            <div class="row g-5">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="about-card mt-0">
                        <div class="thumb">
                            <img src="assets/images/about/aboutThumb3_1.png" alt="img">
                        </div>
                        <div class="content-box">
                            <img src="assets/images/icon/multiPerson.svg" alt="img">
                            <h5>2,000+</h5>
                            <p>Employees Working</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="about-card mt-0">
                        <div class="content-area">
                            <h4 class="mb-15">Designing the Future</h4>
                            <p class="">Financial planners help people to
                                gain knowledge aboutw toio invest
                                and save their money in the most Fina planners help people to gain knowledge
                                aboutw toio invest and save their money in the most Financial planners help people
                                to gain knowledge aboutw toio invest and save their money in the most Financial
                                planners help people to gain knowledge aboutw toio invest and save their money</p>
                            <div class="help-content mt-40">
                                <div class="icon"><i class="fa-regular fa-phone"></i></div>
                                <div class="help-box">
                                    <h5>Need help?</h5>
                                    <h4 class="number"><a href="tel:+1808555011">(808) 555-011</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="about-card mt-0">
                        <div class="dot-rectangle">
                            <img src="assets/images/icon/dotRectangle.svg" alt="squire">
                        </div>
                        <div class="stats-card">
                            <div class="icon">
                                <img src="assets/images/icon/roketFalcon.svg" alt="icon">
                            </div>
                            <h3 class="stat-number">3k+</h3>
                            <p class="stat-title">Website Launched</p>
                            <p class="stat-description">A digital agency is a company that helps businesses achieve
                                their online</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Choose Us Section Start -->
<app-choose-us></app-choose-us>
<!-- Choose Us Section End -->

<!-- Counter Section Start -->
<app-counter></app-counter>
<!-- Counter Section End -->


<!-- Project Section Start -->
<app-project-style-one></app-project-style-one>
<!-- Project Section End -->


<!-- Team Section Start -->
<app-team-section></app-team-section>
<!-- Team Section End -->