<app-breadcrumb [title]="pageTitle"></app-breadcrumb>

<!-- Team Details Section Start -->
<section class="team-details-section fix section-padding pb-0">
    <div class="container">
        <div class="team-details-wrapper style1">
            <div class="row g-5">
                <div class="col-lg-7">
                    <div class="team-details-content">
                        <div class="details-info">
                            <h3 class="">Esther Howard</h3>
                            <span class="">Nursing Assistant</span>
                            <p class="mt-3 mb-3">
                                A digital agency is a company that helps businesses achieve their online through the
                                services such as web design, social media management, SEO, and online advertising.
                                They specialize in creating a strong online presence to increase visibility and
                                drive growth for their clients ence to increase visibility and drive
                            </p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xxl-4">
                                <div class="author-meta">
                                    <div class="fancy-box style1">
                                        <div class="item"><i class="fa-regular fa-location-dot"></i></div>
                                        <div class="item">
                                            <h6>Address</h6>
                                            <p><a href="https://www.google.com/maps/place/66+Broklyant+India+3269+Road,+New+Eskaton,+NY+10007,+USA/@40.7127793,-74.0108437,17z/data=!3m2!4b1!5s0x8edd4d269678e1d9:0x3fbdf65719baddb9!4m6!3m5!1s0x89c25a220cfc254b:0x7e629730ad7807f7!8m2!3d40.7127753!4d-74.0059728!16s%2Fg%2F11w1hkwpy9?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                                                    target="_blank">66 Broklyant,India</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xxl-4">
                                <div class="author-meta">
                                    <div class="fancy-box style1">
                                        <div class="item"><i class="fa-regular fa-phone"></i></div>
                                        <div class="item">
                                            <h6>Phone Number</h6>
                                            <p><a href="tel:+0123456765">012 345 678 9101</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xxl-4">
                                <div class="author-meta">
                                    <div class="fancy-box style1">
                                        <div class="item"><i class="fa-regular fa-envelope"></i></div>
                                        <div class="item">
                                            <h6>Email</h6>
                                            <p><a href="mailto:abcd@gmail.com">abcd@gmail.com</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="team-details-image">
                        <div class="team-thumb">
                            <img src="assets/images/team/teamThumb2_1.png" alt="img">
                        </div>
                        <div class="social-profile">
                            <ul>
                                <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="https://www.twitter.com/"><img src="assets/images/icon/x-icon1_1.svg"
                                            alt="icon"></a>
                                </li>
                                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-linkedin"></i></a>
                                </li>
                                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-pinterest"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-single-history mt-3">
                <div class="title">
                    <h3 class="">About Me</h3>
                </div>
                <p class="mt-3">
                    A digital agency is a company that helps businesses achieve their online through the services
                    such as web design, social media management, SEO, and online advertising. They specialize in
                    creating a strong online presence to increase visibility and drive growth for their clients
                </p>
                <p class="mt-4">
                    A digital agency is a company that helps businesses achieve their online through the services
                    such as web design, social media management, SEO, and online advertising. They specialize in
                    creating a strong online presence to increase visibility and drive growth for their clients A
                    digital agency is a company that helps businesses achieve their online through the services such
                    as web design, social media management
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Team Details Section End -->

<!-- Faq Section Start -->
<section class="faq-section-2 fix section-padding">
    <div class="container">
        <div class="faq-wrapper">
            <div class="row g-5">
                <div class="col-12">
                    <div class="title-area mb-10 text-center">
                        <h2 class="single-section-title">Some Faq Question</h2>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 mb-40">
                    <div class="accordion" id="accordionExample">
                        <div class="ct-accordion-item mb-20">
                            <h2 class="ct-accordion-header">
                                <button class="ct-accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong>What is the importance of SEO in digital marketing?</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseOne" class="ct-accordion-collapse collapse show"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout</p>
                                </div>
                            </div>
                        </div>

                        <div class="ct-accordion-item mb-20">
                            <h2 class="ct-accordion-header">
                                <button class="ct-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <strong>How can I start digital marketing for my business?</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseTwo" class="ct-accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout</p>
                                </div>
                            </div>
                        </div>

                        <div class="ct-accordion-item">
                            <h2 class="ct-accordion-header">
                                <button class="ct-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <strong>Is social media marketing part of digital marketinct</strong>
                                    <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                    <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                </button>
                            </h2>
                            <div id="collapseThree" class="ct-accordion-collapse collapse"
                                data-bs-parent="#accordionExample">
                                <div class="ct-accordion-body">
                                    <p>It is a long established fact that a reader will be distracted by the
                                        readable content of a page when looking at its layout </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq-image">
                        <img src="assets/images/faqThumb.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faq Section End -->