<app-breadcrumb [title]="pageTitle"></app-breadcrumb>

<!--Service Details Section Start-->
<section class="service-details-section fix section-padding">
    <div class="container">
        <div class="service-details-wrapper style1">
            <div class="row g-4">
                <div class="col-12 col-lg-8">
                    <div class="service-details-items">
                        <div class="details-image">
                            <img src="assets/images/service/serviceDetails1_1.png" alt="img">
                        </div>
                        <div class="details-content">
                            <h3 class="">Innovate Your Brand Online</h3>
                            <p class="mt-30">
                                A digital agency is a company that provides creative, strategic, and technical
                                development
                                of screen-based products and services. From website design to social media
                                management,
                                digital agencies help businesses thrive in the online realm
                            </p>
                            <div class="point-content mt-25">
                                <p><span><img src="assets/images/icon/rightShevronArrow.svg" alt="icon"></span>A
                                    digital agency is a company that provides creative, strategic, and technical
                                    development</p>
                                <p><span><img src="assets/images/icon/rightShevronArrow.svg"
                                            alt="icon"></span>Empowering Your Online Success of screen-based
                                    products and services</p>
                                <p><span><img src="assets/images/icon/rightShevronArrow.svg" alt="icon"></span>Mobile
                                    App Development Services levate Your Digital
                                    Presence Innovate Your Brand Online</p>
                                <p><span><img src="assets/images/icon/rightShevronArrow.svg" alt="icon"></span>Make
                                    Your Mark Online Where Ideas Go Digital</p>
                            </div>
                            <p class="mt-30">
                                A digital agency is a company that provides creative, strategic, and technical
                                development of
                                screen-based products and services. From website design to social media
                            </p>
                            <h4 class="mt-25">Your Digital Partner in Growth</h4>
                            <p class="mt-40">
                                A digital agency is a company that provides creative, strategic, and technical
                                development of
                                screen-based products and services. From website design to social media
                            </p>
                            <div class="card-area mt-30">
                                <div class="row g-4">
                                    <div class="col-md-6">
                                        <div class="service-card style4">
                                            <div class="img-area mb-20">
                                                <div class="wcu-icon"><img src="assets/images/icon/serviceIcon2_1.svg"
                                                        alt="icon">
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <h6 class="text mb-3">Navigate the Digital Landscape Engagement
                                                    Digitally</h6>
                                                <div class="btn-wrapper">
                                                    <a routerLink="/service-details" class="ct-btn style4">Read More<i
                                                            class="fa-regular fa-arrow-right-long"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="service-card style4">
                                            <div class="img-area mb-20">
                                                <div class="wcu-icon"><img src="assets/images/icon/serviceIcon2_3.svg"
                                                        alt="icon">
                                                </div>
                                            </div>
                                            <div class="card-content">
                                                <h6 class="text mih-100 mb-3">Empowering Your Online Go Digital
                                                    Success</h6>
                                                <div class="btn-wrapper">
                                                    <a routerLink="/service-details" class="ct-btn style4">Read More<i
                                                            class="fa-regular fa-arrow-right-long"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div class="faq-title mt-60">
                                <h4 class="">Peak Performance Clinic</h4>
                            </div>
                            <div class="faq-content style-3 mt-30">
                                <div class="accordion" id="accordionExample">
                                    <div class="ct-accordion-item style1 mb-20">
                                        <h2 class="ct-accordion-header style1">
                                            <button class="ct-accordion-button" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne" aria-expanded="false"
                                                aria-controls="collapseOne">
                                                <strong> How can a digital agency help my business grow?</strong>
                                                <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                                <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="ct-accordion-collapse collapse show"
                                            data-bs-parent="#accordionExample">
                                            <div class="ct-accordion-body">
                                                <p>A digital agency is a company that provides strategic, and
                                                    technical development of screen-based</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ct-accordion-item style1 mb-20">
                                        <h2 class="ct-accordion-header style1">
                                            <button class="ct-accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                                aria-expanded="false" aria-controls="collapseTwo">
                                                <strong> How long does it take to see results from digital?</strong>
                                                <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                                <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="ct-accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="ct-accordion-body">
                                                <p>A digital agency is a company that provides strategic, and
                                                    technical development of screen-based</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ct-accordion-item style1">
                                        <h2 class="ct-accordion-header style1">
                                            <button class="ct-accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                                aria-expanded="false" aria-controls="collapseThree">
                                                <strong>What sets a good digital agency from the others?</strong>
                                                <span class="plus"><i class="fa-solid fa-plus"></i></span>
                                                <span class="minus"><i class="fa-solid fa-minus"></i></span>
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="ct-accordion-collapse collapse"
                                            data-bs-parent="#accordionExample">
                                            <div class="ct-accordion-body">
                                                <p>A digital agency is a company that provides strategic, and
                                                    technical development of screen-based</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="main-sidebar">
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Service Details</h3>
                            </div>
                            <div class="news-widget-categories">
                                <ul>
                                    <li><a routerLink="/service-details">Identity Design<i
                                                class="fa-regular fa-plus"></i></a></li>
                                    <li><a routerLink="/service-details">Platform Setup<i
                                                class="fa-regular fa-plus"></i></a></li>
                                    <li><a routerLink="/service-details">Marketing Automation<i
                                                class="fa-regular fa-plus"></i></a></li>
                                    <li><a routerLink="/service-details">Marketing Campaigns<i
                                                class="fa-regular fa-plus"></i></a> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-sidebar-image bg-cover"
                            style="background-image: url('assets/images/service/serviceDetails1_2.png');">
                            <div class="contact-text">
                                <h4 class="mb-4">Ready To Work With Us</h4>
                                <div class="btn-wrapper">
                                    <a routerLink="/contact" class="ct-btn style4">Get A Quote<i
                                            class="fa-regular fa-arrow-right-long"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-download mt-40">
                            <div class="download-card">
                                <div class="download-item d-flex justify-content-between">
                                    <div>
                                        <strong class="text">Company File</strong>
                                    </div>
                                    <div class="icon">
                                        <span>(1.5Mb)</span>
                                        <img src="assets/images/icon/downloadIcon.svg" alt="icon">
                                    </div>
                                </div>
                                <div class="download-item d-flex justify-content-between">
                                    <div>
                                        <strong class="text">Project File</strong>
                                    </div>
                                    <div class="icon">
                                        <span>(1.5Mb)</span>
                                        <img src="assets/images/icon/downloadIcon.svg" alt="icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--Service Details Section End-->