CHESS_ELO_APP_NAME=Chess ELO API
CHESS_ELO_MONGODB_URI=mongodb://localhost:27017
CHESS_ELO_MONGODB_DATABASE=chess_elo
CHESS_ELO_MONGODB_APP_NAME=chess-elo-api
CHESS_ELO_CORS_ORIGINS=["http://localhost:4200","http://localhost:4201"]
